* {
    /* 브라우저 기본 마진 리셋 */
    margin:0;
     /* 브라우저 기본 패딩 리셋 */
    padding:0;
     /* 테두리까지 포함해서 박스모델 너비 계산  */
    box-sizing: border-box;
    }

.container {
    /* 내용 전체의 너비 */
    width: 1200px;
    /* 내용을 화면 가운데 배치하도록 좌우 마진 auto */
    margin: 20px auto;
}

.header {
    /* 부모 요소의 너비와 똑같게 */
    width: 100%;
    /* 헤더의 높이 */
    height: 120px;
    background-color: #acacac; 
}

.sidebar {
    width: 300px;
    height: 600px;
    background-color: aquamarine;
    /* 왼쪽으로 플로팅 */
    float: left;
}

.contents {
    width: 900px;
    height: 600px;
    background-color:blue;
    /* 왼쪽으로 플로팅 */
    float: left;
}

.footer {
    width: 100%;
    height: 100%;
    /* 플로팅 해제 */
    clear: left;
    background-color: chartreuse;
}